<div>
  @switch (clientType) {
  @case ('noselect') {
  <div>
    <button (click)="selectClient('caller')">呼叫</button><br />
    <button (click)="selectClient('answerer')">应答</button>
  </div>
  }
  @case ('caller') {
  <div>呼叫方</div>
  @switch (localStep) {
  <!-- 获取本地sdp -->
  @case (0) {
  <div>
    <div><button (click)="getCallerSdp()">获取sdp</button></div>
  </div>
  }
  @case (1) {
  <div>
    <div class="tx">
      本地sdp
      <br>
      {{local_sdp}}
    </div>
    <span>输入应答方sdp</span>
    <input class="textarea" type="text" [(ngModel)]="inputAnswerSdp" />
    <button (click)="callSetAnswer()">应答</button>
  </div>
  } } }
  <!-- 应答方 -->
  @case ('answerer') {
  <div>应答方</div>
  <div>
    <span>请输入呼叫方的sdp</span><br />
    <input class="textarea" type="text" [(ngModel)]="inputCallSdp" />
    <button (click)="setAnswer()">应答</button>
    <div>
      <div class="tx">
        应答方sdp
        <br>
        {{answer_sdp}}
      </div>
    </div>
  </div>
  } }
</div>
<br>
<br>
<div>
  <div>ice</div>
  <div><span class="tx">{{ localCandidate }}</span></div>
  <button (click)="copyLocalIceToClipboard()">复制</button>
  <br>
  ===============================
  <div>
    <span>添加对方ice</span><br>
    <input type="text" [(ngModel)]="inputLocalIce">
    <button (click)="addIce()">添加</button>
  </div>
</div>

=========================
<div>
  <div>发送消息</div>
  <input type="text" [(ngModel)]="msgInput" />
  <br />
  <button (click)="sendText()">发送</button>
</div>
<style>
  .tx {
    background-color: antiquewhite;
    padding: 5px;
    max-width: 90vw;
    /* 自动换行 */
    word-break: break-all;
  }
</style>

<!-- <div>
  <div>
    连接码：<span>{{ connectionCode() }}</span>
  </div>
  <div class="message">
    <span>{{ msg() }}</span>
  </div>
  <div>
    <button (click)="createOffer()">创建offer</button>
  </div>
  <div>
    输入远端连接码：<input type="text" [(ngModel)]="remoteConnCode" />
    <br />
    <button (click)="call()">连接</button>
  </div>
  <div>
    <input type="text" [(ngModel)]="msgInput" />
    <br />
    <button (click)="sendText()">发送</button>
  </div>
</div>
<style>
  .message {
    width: 100%;
    height: 30px;
    background: #eee;
  }
</style> -->